:root {
  --primary: 61, 46, 224;
  --secondary: 47, 216, 216;
  --dark: 20, 14, 89;
  --light: 244, 243, 248;
  --white: 255, 255, 255;

  --text: var(--dark);
  --background: var(--light);

  --br-sm: 0.5rem;
  --br-md: 0.875rem;
  --br-lg: 1rem;

  --shadow: 0px 8px 8px -4px rgba(24, 39, 75, 0.08),
    0px 4px 6px -4px rgba(24, 39, 75, 0.12);

  --tr-duration: 200ms;
  --tr-tr-fn: ease-in-out;

  --fz-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --fz-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --fz-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --fz-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --fz-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --fz-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --fz-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

  --normal: 400;
  --bold: 700;
}

html {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  background: rgb(var(--background));
  color: rgb(var(--text));
  font-size: var(--fz-base);
  scroll-behavior: auto;
  scroll-padding-top: var(--header-height);
}

html,
body {
  overflow-x: hidden;
}

html.expanded-menu,
html.expanded-menu body {
  overflow: hidden;
}

.container {
  padding-inline: 1rem;
  max-width: 1200px;
  margin-inline: auto;
}

@media only screen and (max-width: 320px) {
  .container {
    padding: 0.5rem;
  }
}

a {
  text-decoration: none;
  color: rgb(var(--text));
}

* {
  -webkit-tap-highlight-color: transparent;
  line-height: 1.7;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: rgb(var(--dark)) rgb(var(--background));
}

*::selection {
  background-color: rgb(var(--primary));
  color: rgb(var(--white));
}
*::-webkit-scrollbar {
  width: 0.35rem;
  height: 0.35rem;
}
*::-webkit-scrollbar-track {
  background-color: rgb(var(--background));
}
*::-webkit-scrollbar-track:hover {
  background-color: rgb(var(--white));
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(var(--primary));
  border-radius: var(--br-sm);
}
*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--dark));
}

input,
textarea {
  caret-color: rgb(var(--primary));
  -webkit-caret-color: rgb(var(--primary));
  -moz-caret-color: rgb(var(--primary));
  -ms-caret-color: rgb(var(--primary));
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

section {
  padding-block: 3rem;
}

@media only screen and (min-width: 650px) {
  section {
    padding-block: 4rem;
  }
  section#hero {
    padding-block: 6rem;
  }
}

.card {
  background-color: rgb(var(--white));
  box-shadow: var(--shadow);
  border-radius: var(--br-md);
}

.card.with-icon {
  padding: 2rem 1rem;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  position: relative;
  overflow: visible;
}

.card.with-icon .icon {
  width: 100%;
  max-width: 10rem;
  height: auto;
}

h2 {
  font-size: var(--fz-md);
  text-align: center;
  margin-block-end: 5rem;
}

h3 {
  font-size: var(--fz-md);
  font-weight: var(--normal);
}

img {
  user-select: none;
  pointer-events: none;
}

.btn {
  display: inline-block;
  text-align: center;
  border: none;
  user-select: none;
}

.btn.ghost {
  background-color: transparent;
  color: rgb(var(--text));
}

.btn.btn.ghost.primary:focus,
.btn.btn.ghost.primary:hover {
  background-color: rgba(var(--primary), 15%);
}

.btn.btn.ghost.primary:active {
  background-color: rgba(var(--primary), 25%);
}

.btn.ghost.primary {
  background-color: transparent;
  color: rgb(var(--primary));
  transition: background-color var(--tr-duration) var(--tr-tr-fn);
}

.btn.primary {
  background-color: rgb(var(--primary));
  color: rgb(var(--white));
}

.btn.secondary {
  background-color: rgb(var(--secondary));
  color: rgb(var(--text));
}

.btn.tertiary {
  background-color: rgb(var(--white));
  color: rgb(var(--text));
}

.btn.lg {
  border-radius: var(--br-md);
  padding: 0.75rem 1.5rem;
}

.btn.md {
  border-radius: var(--br-sm);
  padding: 0.5rem 1rem;
}

.btn.sm {
  border-radius: var(--br-sm);
  padding: 0.25rem 0.75rem;
}

.btn.shadow {
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.6);
  transition:
    transform var(--tr-duration) var(--tr-tr-fn),
    box-shadow var(--tr-duration) var(--tr-tr-fn);
}

.btn.shadow:hover {
  box-shadow: 3px 4px 0 0px rgba(0, 0, 0, 0.6);
  transform: translate(-1px, -2px);
}

.btn.shadow:active {
  box-shadow: 1px 2px 0 0px rgba(0, 0, 0, 0.6);
  transform: translate(0, 0);
}

.bold {
  font-weight: var(--bold);
}

.normal {
  font-weight: var(--normal);
}

/* lenis */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
