---
import { changeLanguage } from "i18next";
import Logo from "@/components/Logo.astro";
import Socials from "@/components/Socials.astro";
import Layout from "@/layouts/Layout.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("en");
---

<Layout>
  <section class="container">
    <div>
      <Logo />
      <p>{t("thanks")}</p>
      <a class="btn primary shadow md" href="/">{t("header.nav.home")}</a>
      <Socials fill="primary" hover="text" />
    </div>
  </section>
</Layout>

<style>
  div {
    padding: 1rem;
  }

  div p {
    margin-block: 1.5rem;
  }

  div a {
    margin-bottom: 1rem;
  }
</style>
