---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/Hero.astro";
import How from "@/sections/How.astro";
import Services from "@/sections/Services.astro";
---

<Layout>
  <main>
    <Hero />
    <How />
    <Services />
  </main>
</Layout>
