---
import Layout from "@/layouts/Layout.astro";
---

<script></script>

<Layout>
  <main></main>
</Layout>

<style>
  main {
    color: rgb(var(--primary-color));
    background: rgb(var(--secondary-color));
  }
</style>
