---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/Hero.astro";
import How from "@/sections/How.astro";
import Services from "@/sections/Services.astro";
import About from "@/sections/About.astro";
---

<Layout>
  <main class="container">
    <Hero />
    <How />
    <About />
    <Services />
  </main>
</Layout>
