---
import Nav from "./Nav.astro";
import Logo from "../Logo.astro";
import Hamburger from "./Hamburger.astro";
---

<header id="header" class="card">
  <Logo />
  <Nav />
  <a href="#contactus" class="cta btn md primary shadow">تواصل معنا</a>
  <Hamburger active={false} />
</header>

<style>
  header.overlay {
  }

  header {
    max-width: calc(1200px - 2.5rem);
    margin-inline: 1rem;
    position: fixed;
    inset: .5rem 0 auto 0;
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    display: grid;
    align-items: center;
    grid-template-areas:
      "logo cta menu"
      "nav nav nav";
    grid-auto-columns: 1fr 1fr auto;
    z-index: 1000;
  }

  .cta {
    grid-area: cta;
    place-self: center end;
  }

  @media only screen and (max-width: 320px) {
    header {
      grid-template-areas:
        "logo menu"
        "nav nav"
        "cta cta";
    }

    .cta {
      margin-top: 1rem;
      justify-self: stretch;
    }
  }

  @media only screen and (min-width: 650px) {
    header {
      grid-template-areas: "logo nav cta";
      grid-auto-columns: unset;
      padding-block: 0.25rem;
    }
  }

  @media only screen and (min-width: 1280px) {
    header {
      margin-inline: auto;
    }
  }
</style>
