---
import Nav from "./Nav.astro";
import Logo from "../Logo.astro";
import Hamburger from "./Hamburger.astro";
import LangSelector from "./LangSelector.astro";
import { t } from "i18next";
---

<header id="header" class="card">
  <a href="#hero">
    <Logo />
  </a>
  <Nav />
  <a href="#contact" class="cta btn md primary shadow">{t("header.cta")}</a>
  <Hamburger active={false} />
  <LangSelector />
</header>

<style>
  header {
    max-width: calc(1200px - 2rem);
    margin-inline: 1rem;
    position: fixed;
    inset: 0.5rem 0 auto 0;
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    display: grid;
    align-items: center;
    grid-template-areas:
      "logo cta lang menu"
      "nav nav nav nav";
    grid-auto-columns: auto;
    gap: 0.75rem;
    z-index: 1000;
  }

  .cta {
    grid-area: cta;
    place-self: center end;
  }

  @media only screen and (max-width: 320px) {
    header {
      grid-template-areas:
        "logo logo"
        "lang menu"
        "nav nav"
        "cta cta";
    }

    .cta {
      justify-self: stretch;
    }
  }

  @media only screen and (min-width: 675px) {
    header {
      grid-template-areas: "logo nav lang cta";
      grid-auto-columns: auto 1fr auto auto;
      padding-block: 0.25rem;
    }
  }

  @media only screen and (min-width: 1280px) {
    header {
      margin-inline: auto;
    }
  }
</style>
