---
const pages = [
  {
    href: "#hero",
    value: "الرئيسية",
  },
  {
    href: "#aboutus",
    value: "من نحن",
  },
  {
    href: "#services",
    value: "خدماتنا",
  },
  {
    href: "#projects",
    value: "مشاريع مختارة",
  },
];
---

<script>
  document.querySelectorAll("nav li > a").forEach((item) => {
    item.addEventListener("click", () => {
      document.documentElement.classList.remove("expanded-menu");
    });
  });
</script>

<nav id="nav">
  <ul>
    {
      pages.map(({ href, value }) => (
        <li>
          <a href={href}>{value}</a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  nav {
    grid-area: nav;
  }

  ul {
    display: flex;
    gap: 1.5rem;
  }

  a {
    text-underline-offset: 1.75rem;
    display: block;
    padding-block: 1rem;
  }

  @media only screen and (min-width: 650px) {
    nav {
      place-self: center;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  @media only screen and (max-width: 649px) {
    nav {
      display: none;
    }
    ul {
      flex-direction: column;
      padding-top: 1rem;
      padding-inline-start: 0;
      gap: 0;
    }

    ul li {
      text-align: center;
    }

    ul a:not(:first-of-type) {
      border-top: 1px solid rgb(var(--text));
    }
  }
</style>

<style is:global>
  html.expanded-menu nav {
    display: block;
  }
</style>
