<div class="cursor"></div>
<div class="cursor-follower"></div>

<style>
  body {
    cursor: none;
  }
  .cursor {
    position: fixed;
    background-color: rgb(var(--white));
    mix-blend-mode: difference;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    z-index: 1;
    transition:
      0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
      0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: scale(1);
  }
  .cursor.active {
    opacity: 1;
    transform: scale(0);
  }

  .cursor-follower {
    position: fixed;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    z-index: 1;
    transition:
      0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
      0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity,
      0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: translate(2px, 2px);
    border: 1px solid rgb(var(--white));
    mix-blend-mode: difference;
  }

  .cursor-follower.active {
    opacity: 1;
    transform: scale(2.5);
  }
</style>

<script>
const cursor = document.querySelector(".cursor");
const follower = document.querySelector(".cursor-follower");

let posX = 0,
    posY = 0;

let mouseX = 0,
    mouseY = 0;

function updateCursor() {
  posX += (mouseX - posX) / 9;
  posY += (mouseY - posY) / 9;

  follower.style.left = posX - 12 + "px";
  follower.style.top = posY - 12 + "px";

  cursor.style.left = mouseX + "px";
  cursor.style.top = mouseY + "px";
}

function handleMouseMove(e) {
  mouseX = e.clientX;
  mouseY = e.clientY;
}

function handleLinkMouseEnter() {
  cursor.classList.add("active");
  follower.classList.add("active");
}

function handleLinkMouseLeave() {
  cursor.classList.remove("active");
  follower.classList.remove("active");
}

document.addEventListener("mousemove", handleMouseMove);

document.querySelectorAll("a").forEach(function(link) {
  link.addEventListener("mouseenter", handleLinkMouseEnter);
  link.addEventListener("mouseleave", handleLinkMouseLeave);
});

setInterval(updateCursor, 20);
</script>
