<div class="cursor-follower"></div>

<style>
  @media (hover: hover) {
    .cursor-follower {
      position: fixed;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      z-index: 1;
      transition:
        0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity,
        0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background-color;
      user-select: none;
      pointer-events: none;
      z-index: 10000;
      transform: translate(2px, 2px);
      background-color: rgb(var(--background));
      opacity: 1;
      mix-blend-mode: difference;
    }

    .cursor-follower.active {
      background-color: transparent;
      border: 1px solid rgb(var(--white));
      transform: scale(3);
    }
  }
</style>

<script>
  const follower = document.querySelector(".cursor-follower");

  let posX = 0,
    posY = 0;

  let mouseX = 0,
    mouseY = 0;

  function updateCursor() {
    if (!follower) return;
    posX += (mouseX - posX) / 9;
    posY += (mouseY - posY) / 9;

    follower.style.left = posX - 12 + "px";
    follower.style.top = posY - 12 + "px";
  }

  function handleMouseMove(e) {
    mouseX = e.clientX;
    mouseY = e.clientY;
  }

  function handleLinkMouseEnter() {
    if (!follower) return;
    follower.classList.add("active");
  }

  function handleLinkMouseLeave() {
    if (!follower) return;
    follower.classList.remove("active");
  }

  document.addEventListener("mousemove", handleMouseMove);

  document.querySelectorAll("a, input[type='submit']").forEach(function (link) {
    link.addEventListener("mouseenter", handleLinkMouseEnter);
    link.addEventListener("mouseleave", handleLinkMouseLeave);
  });

  setInterval(updateCursor, 20);
</script>
