---
import LogoSvg from "../icons/logo.astro";
import { t } from "i18next";
---

<span class="logo">
  <LogoSvg />
  <span>
    {t("header.logo")}
  </span>
</span>

<style>
  .logo {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-weight: var(--bold);
    grid-area: logo;
    font-size: var(--fz-base);
  }
</style>
