---
import LogoSvg from "../icons/logo.astro"
---

<a href="#">
  <LogoSvg />
  <span>
    أمرنا
  </span>
</a>

<style>
a {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: var(--bold);
  grid-area: logo;
  font-size: var(--fz-base);
}
</style>
