<div id="overlay"></div>

<style>
  #overlay {
    position: fixed;
    inset: 0;
    z-index: 999;
    display: none;
  }
</style>

<style is:global>
  @media only screen and (max-width: 650px) {
    html.expanded-menu #overlay {
      display: block;
      backdrop-filter: blur(8px);
    }
  }
</style>
