<section id="about" class="container">
  <h2>من نحن</h2>
  <p class="card">
    أمرنا هي منصة مختصة بتحويل الأفكار إلى مشاريع حقيقية. مهمتنا هي ملء الفجوة
    في السوق للأشخاص الذين يمتلكون أفكارًا للمشاريع ولكن يجدون صعوبة في إيجاد
    الخبراء المناسبين لها، نحن نقدم مجموعة متنوعة من الخدمات لنساعدك في كل خطوة
    على الطريق إلى تحقيق أفكارك بنجاح، ونسعى دائمًا لتقديم أفضل قيمة لعملائنا،
    لا تفوت الفرصة، إبدأ رحلتك معنا لتحقيق نجاح مشروعك اليوم!
  </p>
</section>

<style>
  #about {
    perspective: 1000px;
  }
  .card {
    padding: 2rem;
    line-height: 2;
    transform-origin: center;
  }
</style>
