---
import { t } from "i18next";
---

<section id="about" class="container">
  <h2>{t("about.title")}</h2>
  <p class="card">{t("about.description")}</p>
</section>

<style>
  #about {
    perspective: 1000px;
  }
  .card {
    padding: 2rem;
    line-height: 2;
    transform-origin: center;
  }
</style>
