---
import Ornament from "@/components/Ornament.astro";
import Hero from "@/icons/hero.astro";
---

<section id="hero" class="container">
  <div class="content">
    <h1 class="hero-txt">
      <span>أمرنا</span> نبني لك مشروعك من الفكرة الى التنفيذ!
    </h1>
    <p class="hero-txt">
      هل لديك فكرة مشروع ولكنك تحتاج إلى الخبرة والموارد لتحقيقها؟ في أمرنا،
      نقدم لك الدعم الذي تحتاجه لتحقيق أفكارك بنجاح!
    </p>
    <div class="btns">
      <a href="#contact" class="btn primary lg shadow hero-btn"
        >اطلب مشروعك الآن!</a
      >
      <a href="#services" class="btn tertiary lg shadow hero-btn"
        >تعرف على خدماتنا</a
      >
    </div>
  </div>
  <div class="hero-img">
    <Hero />
    <Ornament x={85} size={6} y={15} gap=".5rem" cols={8} count={56} />
    <Ornament
      color="--primary"
      x={20}
      size={6}
      y={95}
      gap=".5rem"
      cols={8}
      count={40}
    />
  </div>
</section>

<style>
  .hero-txt {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  section#hero {
    margin-top: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
  }

  .hero-img {
    flex: 0.4;
    position: relative;
  }
  .content {
    flex: 0.6;
  }

  h1 {
    font-size: var(--fz-xl);
    max-width: 17ch;
  }

  .btns {
    display: flex;
    margin-top: 2rem;
    gap: 0.5rem;
  }

  p {
    max-width: 40ch;
  }

  h1 span {
    color: rgb(var(--primary));
  }

  @media only screen and (max-width: 400px) {
    .btns {
      flex-direction: column;
    }
  }

  @media only screen and (max-width: 800px) {
    section {
      flex-direction: column;
      margin-top: 4rem;
    }

    section .image {
      max-width: 40ch;
    }
  }
</style>

<style is:global>
  .hero-img > svg {
    width: 100%;
    height: auto;
  }

  .hero-img:hover .ornament:nth-of-type(1) {
    gap: 0.45em;
    left: 80%;
    top: 20%;
  }
  .hero-img:hover .ornament:nth-of-type(2) {
    gap: 0.45em;
    left: 25%;
    top: 90%;
  }
</style>
