---
import Step1 from "@/icons/step1.astro";
import Step2 from "@/icons/step2.astro";
import Step3 from "@/icons/step3.astro";
import Arrow from "@/icons/arrow.astro";
import Ornament from "@/components/Ornament.astro";
---

<section id="how" class="container">
  <h2>كيف يعمل أمرنا</h2>
  <ul class="steps">
    <li id="step-1" class="card with-icon">
      <Step1 />
      <h3>قدم لنا فكرتك</h3>
      <Arrow />
      <Ornament x={100} y={0} size={8} gap=".5rem" cols={5} count={35} />
    </li>
    <li id="step-2" class="card with-icon">
      <Step2 />
      <h3>نبني مشروعك</h3>
      <Arrow />
      <Ornament x={0} y={100} size={8} gap=".5rem" cols={5} count={35} />
    </li>
    <li id="step-3" class="card with-icon">
      <Step3 />
      <h3>نسلمك مشروعك</h3>
      <Ornament x={100} y={100} size={8} gap=".5rem" cols={5} count={35} />
    </li>
  </ul>
</section>

<style>
  .steps {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  @media only screen and (min-width: 650px) {
    .steps {
      gap: 3rem;
    }

    .steps li {
      max-width: 42.5%;
    }

    .steps li:nth-child(even) {
      margin-inline-start: auto;
    }
  }
</style>

<style is:global>
  .steps li > .arrow {
    display: none;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  @media only screen and (min-width: 649px) {
    .steps li > .arrow {
      display: unset;
      position: absolute;
      height: auto;
      top: calc(50% + 2rem);
    }

    .steps li > .arrow path {
      fill: rgb(var(--text));
    }

    .steps li:nth-child(odd) > .arrow {
      left: -2rem;
      transform: translate(-100%, -2rem);
    }

    .steps li:nth-child(even) > .arrow {
      right: -2rem;
      transform: translate(100%, -2rem) rotateY(180deg);
    }
  }
</style>
