---
const projects = [
  {
    img: "/images/proj1.png",
    href: "https://canadiansouq.com",
  },
  {
    img: "/images/proj2.png",
    href: "#",
  },
  {
    img: "/images/proj3.png",
    href: "#",
  },
];
---

<section id="projects" class="container">
  <h2>مشاريع مختارة</h2>
  <ul class="projects" data-lenis-prevent>
    {
      projects.map(({ img, href }) => (
        <li class="card">
          <a href={href} target="_blank">
            <img decoding="async" loading="lazy" src={img} alt={href} />
          </a>
        </li>
      ))
    }
  </ul>
</section>

<style>
  .projects {
    display: flex;
    padding-bottom: 0.5rem;
    gap: 1rem;
    /* width: fit-content; */
    overflow-x: auto ;
    overscroll-behavior: contain;
  }

  li {
    padding: 0.5rem;
  }

  li img {
    aspect-ratio: 16/9;
    height: 100%;
    width: auto;
  }

  li a {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: var(--br-md);
    height: 15rem;
  }

  li a:hover::before {
    content: "";
    background-image: url("/icons/open.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 40%);
    background-size: 2rem;
    position: absolute;
    inset: 0;
    margin: auto;
    z-index: 100;
  }
</style>
