---
const projects = [
  {
    img: "/images/proj1.png",
    href: "#",
    alt: "",
  },
  {
    img: "/images/proj1.png",
    href: "#",
    alt: "",
  },
  {
    img: "/images/proj1.png",
    href: "#",
    alt: "",
  },
];
---

<section id="projects" class="container">
  <h2>مشاريع مختارة</h2>
  <ul class="projects">
    {
      projects.map(({ img, href, alt }) => (
        <li class="card">
          <a href={href} target="_blank">
            <img src={img} alt={alt} />
          </a>
        </li>
      ))
    }
  </ul>
</section>

<style>
  .projects {
    display: flex;
    max-width: 100%;
    padding-bottom: .5rem;
    scroll-snap-type: x;
    scroll-snap-type: x mandatory;
    overflow-y: auto;
    gap: 1rem;
  }

  li {
    padding: .75rem;
    scroll-snap-align: start;
  }

  li img {
    aspect-ratio: 16/9;
    height: 100%;
    width: auto;
  }

  li a {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: var(--br-md);
    height: 14rem;
  }

  li a:hover::before {
    content: '';
    background-image:url("/icons/open.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(var(--text), 70%);
    background-size: 2rem;
    position: absolute;
    inset: 0;
    margin: auto;
    z-index: 100;
  }
</style>
