---
import Header from "@/components/Header/Header.astro";
import Footer from "@/components/Footer.astro";
import Overlay from "@/components/Overlay.astro";
import Cursor from "@/components/Cursor.astro";
import "@/styles/normalize.css";
import "@/styles/global.css";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";

interface Props {}
---

<!doctype html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#3D2EE0" />
    <link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
    <!-- <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;700&display=swap"
    /> -->
    <title>Amrna | أمرنا</title>
  </head>
  <body>
    <Cursor />
    <Overlay />
    <Header />
    <slot />
    <Footer />

    <script>
      import "../scripts/utils.js";
    </script>
  </body>
</html>
