---
import Overlay from "@/components/Overlay.astro";
import Cursor from "@/components/Cursor.astro";
import "@/styles/normalize.css";
import "@/styles/global.css";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import { SEO } from "astro-seo";
import i18next, { t } from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
import { pwaInfo } from "virtual:pwa-info";

interface Props {}
---

<!doctype html>
<html lang={i18next.language} dir={i18next.language === "ar" ? "rtl" : "ltr"}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#3D2EE0" />
    <link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
    <link rel="apple-touch-icon" href="/icons/favicon-192x192.png">
    <link rel="mask-icon" href="/icons/favicon.svg" color="#3D2EE0">
    <HeadHrefLangs />
    <!-- <GoogleFontsOptimizer -->
    <!--   url="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;700&display=swap" -->
    <!-- /> -->
    <SEO
      title={t("site.title")!}
      description={t("site.description")!}
      openGraph={{
        basic: {
          title: t("site.title"),
          type: "website",
          image: "/images/preview.png",
        },
      }}
      twitter={{
        creator: "@amerna.official",
      }}
      extend={{
        link: [{ rel: "icon", href: "/icons/favicon.svg" }],
        meta: [
          { name: "twitter:image", content: "/images/preview.png" },
          {
            name: "twitter:title",
            content: t("site.title")!,
          },
          {
            name: "twitter:description",
            content: t("site.description")!,
          },
        ],
      }}
    />
    <!-- {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />} -->
    <!-- <script src="/src/pwa.ts"></script> -->
  </head>
  <body>
    <Cursor />
    <Overlay />
    <slot />

    <script>
      import "../scripts/utils.js";
      // import "../scripts/gsap.js";
      import "../scripts/lenis.js";
    </script>
  </body>
</html>
